img {
  position: absolute;
  display: inline;
  bottom: 0;
  right: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Mobile responsive adjustments */
@media screen and (max-width: 768px) {
  img {
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  img {
    object-fit: cover;
  }
}
